In [1]:
# import libraries
# data manipulation
import pandas as pd
# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# yahoofinance
import yfinance as yf

price = yf.download("^VIX ^FTSE", start='2017-01-01')
price.head()

[*********************100%***********************]  2 of 2 completed

              Adj Close               Close                High         \
                  ^FTSE   ^VIX        ^FTSE   ^VIX        ^FTSE   ^VIX
Date
2017-01-03  7177.899902  12.85  7177.899902  12.85  7205.500000  14.07
2017-01-04  7189.700195  11.85  7189.700195  11.85  7189.700195  12.80
2017-01-05  7195.299805  11.67  7195.299805  11.67  7212.000000  12.09
2017-01-06  7210.100098  11.32  7210.100098  11.32  7210.100098  11.74
2017-01-09  7237.799805  11.56  7237.799805  11.56  7243.799805  12.08

                    Low                Open              Volume
                  ^FTSE   ^VIX        ^FTSE   ^VIX        ^FTSE ^VIX
Date
2017-01-03  7142.799805  12.85  7142.799805  14.07  795658400.0  0.0
2017-01-04  7168.799805  11.63  7177.899902  12.78  742050400.0  0.0
2017-01-05  7172.799805  11.40  7189.700195  11.96  768721000.0  0.0
2017-01-06  7180.600098  10.98  7195.299805  11.70  694323700.0  0.0
2017-01-09  7207.399902  11.46  7210.100098  11.71  705536400.0  0.0

In [3]:
# pandas_datareader
from pandas_datareader import data as pdr

yf.pdr_override()
df = pdr.get_data_yahoo("SPY", start='2017-01-01', end='2022-05-31')
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,205.509094,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,206.731705,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,206.567474,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,207.306534,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,206.622223,46939700

In [4]:
from pandas_datareader import data, wb
# retrieve several tickers
def get_ticker(ticker, start, end):
    ticker = data.DataReader(ticker, data_source='yahoo', start=start, end=end)
    return ticker

tickers = [['^GSPC', 'SP500'], ['^VIX', 'VIX']]
prices = pd.DataFrame({ticker[1]: get_ticker(ticker[0], '2019-01-01', '2020-01-30')['Adj Close'] for ticker in tickers}).dropna()
prices.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                  SP500        VIX
Date
2018-12-31  2506.850098  25.420000
2019-01-02  2510.030029  23.219999
2019-01-03  2447.889893  25.450001
2019-01-04  2531.939941  21.379999
2019-01-07  2549.689941  21.400000

In [7]:
start = prices.index.min()
end = prices.index.max()
monthly_dates = pd.date_range(start, end, freq='M') # create a new index of monthly frequency
monthly = prices.reindex(monthly_dates, method='ffill') # re-indexing
returns = 100*monthly.pct_change().dropna()
returns.head()

               SP500        VIX
2019-01-31  7.868440 -34.815108
2019-02-28  2.972889 -10.802655
2019-03-31  1.792426  -7.239511
2019-04-30  3.931350  -4.303429
2019-05-31 -6.577773  42.606702

In [ ]:
# fama french factor data
from pandas_datareader import data
from pandas_datareader.famafrench import get_available_datasets
# load factor data
FFDataTest = data.DataReader("F-F_Research_Data_5_Factors_2x3_daily", "famafrench")[0]
FFDataTest.index = pd.to_datetime(FFDataTest.index, format="%Y%m%d", utc=True) # necessary to convert to UTD
FFDataTest.head()

In [ ]:
FF_3Factor = data.DataReader("F-F_Research_Data_Factors_daily", "famafrench")[0]
FF_3Factor.index = pd.to_datetime(FF_3Factor.index, format="%Y%m%d", utc=True) # necessary to convert to UTD
FF_3Factor.head()

In [ ]:
# industry portfolios
FFdata = data.DataReader("5_Industry_Portfolios", "famafrench")
print(FFdata['DESCR'])

In [ ]:
FFdata[1].head()

In [11]:
# markets and factors
FFdata_Classic = pd.DataFrame(data.DataReader("F-F_Research_Data_Factors", "famafrench")[0])
FFdata_Classic.head()

Exception in thread Thread-14:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\lib\threading.py", line 932, in _bootstrap_inner
    self.run()
  File "C:\Users\user\anaconda3\lib\threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\user\anaconda3\lib\site-packages\multitasking\__init__.py", line 104, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\user\anaconda3\lib\site-packages\yfinance\multi.py", line 188, in _download_one_threaded
    data = _download_one(ticker, start, end, auto_adjust, back_adjust,
  File "C:\Users\user\anaconda3\lib\site-packages\yfinance\multi.py", line 202, in _download_one
    return Ticker(ticker).history(period=period, interval=interval,
  File "C:\Users\user\anaconda3\lib\site-packages\yfinance\base.py", line 153, in history
    _time.strptime(str(start), '%Y-%m-%d')))
  File "C:\Users\user\anaconda3\lib\_strptime.py", line 562, in _strptime_time
    tt = _strptime(data_string, format)[0]
  File "C:\Users\user\anaconda3\lib\_strptime.py", line 349, in _strptime
    raise ValueError("time data %r does not match format %r" %
ValueError: time data 'famafrench' does not match format '%Y-%m-%d'

KeyboardInterrupt:

In [9]:
returns.head(10)

               SP500        VIX
2019-01-31  7.868440 -34.815108
2019-02-28  2.972889 -10.802655
2019-03-31  1.792426  -7.239511
2019-04-30  3.931350  -4.303429
2019-05-31 -6.577773  42.606702
2019-06-30  6.893016 -19.401386
2019-07-31  1.312815   6.896558
2019-08-31 -1.809163  17.741927
2019-09-30  1.718118 -14.436248
2019-10-31  2.043177 -18.596056

In [10]:
FFdata_Classic.head(10)

NameError: name 'FFdata_Classic' is not defined